.s1-home {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0055c6+0,00306a+100 */
  background: #0055c6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0055c6 0%, #00306a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0055c6 0%, #00306a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#0055c6), to(#00306a));
  background: -o-linear-gradient(top, #0055c6 0%, #00306a 100%);
  background: linear-gradient(to bottom, #0055c6 0%, #00306a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0055c6', endColorstr='#00306a',GradientType=0 );
  /* IE6-9 */
  height: 494px;
  padding: 40px 0px; }
  .s1-home h1 {
    font-size: 50px;
    font-weight: 700;
    color: #EFEFEF;
    padding: 40px 20px 0 0; }
  .s1-home img {
    height: 521px; }
  .s1-home .blue-button {
    margin-top: 35px; }

.s2-home {
  background-size: cover !important;
  padding: 100px 0;
  text-align: center; }
  .s2-home h1 {
    position: relative;
    color: #033868;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 35px;
    font-weight: 700; }
    .s2-home h1:after {
      content: "";
      position: absolute;
      width: 98px;
      height: 3px;
      background: #056FCE;
      left: 50%;
      bottom: -15px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .s2-home p {
    color: #7C7C7C; }

.s3-home {
  padding: 0 3%; }
  .s3-home .left {
    width: 50%;
    float: left;
    border-right: 1.5px solid white;
    background-size: cover !important;
    position: relative;
    padding-bottom: 30%; }
    .s3-home .left img {
      width: 189px;
      position: absolute;
      top: 30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .s3-home .right {
    width: 50%;
    float: right;
    border-left: 1.5px solid white;
    background-size: cover !important;
    position: relative;
    padding-bottom: 30%; }
  .s3-home .inside {
    position: absolute;
    width: 505px;
    height: 210px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center; }
    .s3-home .inside h1 {
      font-size: 40px;
      text-transform: uppercase;
      color: white;
      font-weight: 700; }
    .s3-home .inside p {
      color: white;
      font-size: 16px;
      padding: 0 45px; }
    .s3-home .inside .blue-button {
      margin-top: 15px; }

.s4-home {
  text-align: center;
  padding: 80px 0 0; }
  .s4-home h1 {
    position: relative;
    color: #033868;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 75px;
    font-weight: 700; }
    .s4-home h1:after {
      content: "";
      position: absolute;
      width: 98px;
      height: 3px;
      background: #056FCE;
      left: 50%;
      bottom: -15px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .s4-home .productSlider img.icon {
    width: 56px;
    height: 56px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 15px;
    display: inline-block; }
  .s4-home .productSlider p {
    font-size: 20px;
    color: #033868;
    margin: 0; }
  .s4-home .productSlider button.slick-prev {
    font-size: 0;
    border: 0;
    background: url(../images/scrollArrow.svg) center no-repeat;
    width: 26px;
    height: 47px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
    position: absolute;
    left: -50px; }
  .s4-home .productSlider button.slick-next {
    font-size: 0;
    border: 0;
    background: url(../images/scrollArrow.svg) center no-repeat;
    width: 26px;
    height: 47px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: -50px; }
  .s4-home .greyBar {
    margin-top: 80px;
    width: 100%;
    padding: 22px;
    background-color: #EFEFEF;
    color: #65666B; }
    .s4-home .greyBar p {
      margin: 0; }

.s5-home {
  background-size: cover !important;
  padding: 60px 0;
  text-align: center; }
  .s5-home p {
    color: white;
    font-size: 40px;
    margin: 0;
    font-weight: 700; }
  .s5-home .blue-button {
    margin-top: 30px; }

.s6-home {
  padding: 60px 0; }
  .s6-home form {
    margin-top: 20px; }
  .s6-home h2 {
    font-size: 24px;
    margin: 0;
    color: #033868;
    text-transform: uppercase; }
  .s6-home hr {
    width: 98px;
    height: 3px;
    background: #056FCE;
    margin: 8px 0; }
  .s6-home p {
    margin: 0;
    font-size: 16px;
    color: #707070;
    padding-right: 60px; }
  .s6-home label[for="email"] {
    width: 39%;
    padding: 0 20px 0 0; }
    .s6-home label[for="email"] input {
      width: 100%;
      padding: 10px;
      border: 1px solid #D6CACA; }
    .s6-home label[for="email"] p {
      font-size: 14px;
      color: #65666B;
      margin-bottom: 5px; }
  .s6-home label[for="name"] {
    width: 39%;
    padding: 0 20px 0 0; }
    .s6-home label[for="name"] input {
      width: 100%;
      padding: 10px;
      border: 1px solid #D6CACA; }
    .s6-home label[for="name"] p {
      font-size: 14px;
      color: #65666B;
      margin-bottom: 5px; }
  .s6-home input[type="submit"] {
    width: 20%;
    border: 0;
    -webkit-appearance: none; }
