.storeTypeContainer {
  width: 100%;
  background-color: #EFEFEF;
  position: relative;
  padding-bottom: 95%;
  text-align: center; }
  .storeTypeContainer .inside {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .storeTypeContainer .inside p {
      font-size: 25px;
      color: #033868;
      text-transform: uppercase;
      margin: 0; }
    .storeTypeContainer .inside img {
      max-width: 70px;
      max-height: 74px;
      margin-bottom: 15px; }
