.s1-about {
    width: 100%;
    padding-bottom: 30%;
    background-size: cover !important;
    border-top: 10px solid #056FCE;
}

.s2-about {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 42px;
    h1 {
        text-transform: uppercase;
        font-weight: 700;
        color: #033868;
        font-size: 40px;
        margin-top: 0;
    }
    p {
        margin-top: 28px;
        padding: 0;
        font-size: 16px;
        color: #7C7C7C;
    }
    // hr {
    //     width: 98px;
    //     height: 3px;
    //     background: #056FCE;
    //     margin-top: 23px;
    // }
    .left {
        padding-right: 90px;
    }
    .right {
        background-color: #EFEFEF;
        text-align: center;
        padding: 34px 50px 45px;
        p {
            padding: 15px 0;
            margin: 0;
        }
        .logo {
            width: 209px;
            margin: 0;
            padding: 0;
        }
    }
}

.s3-about {
    h1 {
        color: #EFEFEF;
        text-transform: uppercase;
        font-size: 40px;
        font-weight:700;
    }
    hr {
        width: 98px;
        height: 3px;
        background: #EFEFEF;
        margin: 6px auto;
        display:none;
    }
    .top {
        background-color: #033868;
        height: 228px;
        text-align: center;
    }
    .bottom {
        margin: -150px auto 70px;
        p {
            font-size: 12px;
            color: #65666B;
            background-color: #EFEFEF;
            padding: 23px 50% 18px 24px;
        }
    }
    .historySlider {
        p {
            font-size: 12px;
            color: #65666B;
            margin: 0;
        }
        button.slick-prev {
            font-size: 0;
            border: 0;
            background: url(../images/scrollArrow.svg) center no-repeat;
            width: 26px;
            height: 47px;
            top: 50%;
            transform: translateY(-50%) rotate(-180deg) ;
            position: absolute;
            left: -50px;
        }
        button.slick-next {
            font-size: 0;
            border: 0;
            background: url(../images/scrollArrow.svg) center no-repeat;
            width: 26px;
            height: 47px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            right: -50px;
        }
    }
}

.s4-about {
    background-size: cover !important;
    padding: 152px 0;
    text-align: center;
    h1 {
        color: white;
        font-size: 40px;
        margin: 0;
        font-weight: 700;
    }
}