.s1-contact {
    width: 100%;
    padding-bottom: 30%;
    background-size: cover !important;
    border-top: 10px solid #056FCE;
}

.s2-contact {
    text-align: center;
    padding-top: 60px;
    h1 {
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: #033868;
        font-size: 40px;
    }
    hr {
        width: 98px;
        height: 3px;
        background: #056FCE;
        margin: 6px auto;
    }
    p {
        padding: 0 45px;
        font-size: 16px;
        color: #7C7C7C;
    }
    .blueBar {
        background-color: #033868;
        width: 100%;
        padding: 20px 0;
        margin: 0;
        margin-top: 60px;
        p {
            margin: 0;
            color: #EFEFEF;
            font-size: 20px;
        }
    }
}

.s3-contact {
    padding: 60px 0;
    .visitUs {
        padding-left: 50px;
        background: url(../images/Contact/icon1.svg) top left 7px no-repeat;
        background-size: 25px;
        padding-bottom: 5px;
    }
    h3 {
        font-size: 20px;
        text-transform: uppercase;
        color: #032748;
    }
    p {
        font-size: 18px;
        color: #A8A8A8;
    }
    .hours {
        padding-left: 50px;
        background: url(../images/Contact/icon2.svg) top left no-repeat;
        background-size: 40px;
        padding-bottom: 5px;
    }
    .contactUs {
        padding-left: 50px;
        background: url(../images/Contact/icon3.svg) top left 5px no-repeat;
        background-size: 32px;
    }
    .half {
        width: 50%;
        font-size: 14px;
        color: #87888D;
        padding-left: 30px;
        float: left;
        padding-bottom: 15px;
        span, input, label {
            width: 100%;
            font-weight: 400;
        }
        input {
            transition: all 0.3s ease;
            border: 2px solid #EFEFEF;
            padding: 10px;
            &:focus {
                border: 2px solid #A8A8A8;
            }
        }
    }
    .full {
        width: 100%;
        font-size: 14px;
        color: #87888D;
        padding-left: 30px;
        float: left;
        padding-bottom: 15px;
        span, textarea, label {
            width: 100%;
            font-weight: 400;
        }
        textarea {
            transition: all 0.3s ease;
            border: 2px solid #EFEFEF;
            padding: 10px;
            &:focus {
                border: 2px solid #A8A8A8;
            }
        }
    }
    .blue-button {
        margin-left: 30px;
        border:0;
        -webkit-appearance:none;
    }
}