.s1-home {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0055c6+0,00306a+100 */
    background: #0055c6; /* Old browsers */
    background: -moz-linear-gradient(top, #0055c6 0%, #00306a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0055c6 0%,#00306a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0055c6 0%,#00306a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0055c6', endColorstr='#00306a',GradientType=0 ); /* IE6-9 */
    height: 494px;
    padding: 40px 0px;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: #EFEFEF;
        padding: 40px 20px 0 0;
    }
    img {
        height: 521px;
    }

    .blue-button {
        margin-top: 35px;
    }
}

.s2-home {
    background-size: cover !important;
    padding: 100px 0;
    text-align: center;
    h1 {
        position: relative;
        color: #033868;
        font-size: 40px;
        text-transform: uppercase;
        margin: 0 0 35px;
        font-weight: 700;
        &:after {
            content: "";
            position: absolute;
            width: 98px;
            height: 3px;
            background: #056FCE;
            left: 50%;
            bottom: -15px;
            transform: translateX(-50%);
        }
    }
    p{
        color: #7C7C7C;
    }
}

.s3-home {
    padding: 0 3%;
    .left {
        width: 50%;
        float: left;
        border-right: 1.5px solid white;
        background-size: cover !important;
        position: relative;
        padding-bottom: 30%;
        img {
            width: 189px;
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .right {
        width: 50%;
        float: right;
        border-left: 1.5px solid white;
        background-size: cover !important;
        position: relative;
        padding-bottom: 30%;
    }
    .inside {
        position: absolute;
        width: 505px;
        height: 210px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        h1 {
            font-size: 40px;
            text-transform: uppercase;
            color: white;
            font-weight: 700;
        }
        p {
            color: white;
            font-size: 16px;
            padding: 0 45px;
        }
        .blue-button {
            margin-top: 15px;
        }
    }
}

.s4-home {
    text-align: center;
    padding: 80px 0 0;
    h1 {
        position: relative;
        color: #033868;
        font-size: 40px;
        text-transform: uppercase;
        margin: 0 0 75px;
        font-weight: 700;
        &:after {
            content: "";
            position: absolute;
            width: 98px;
            height: 3px;
            background: #056FCE;
            left: 50%;
            bottom: -15px;
            transform: translateX(-50%);
        }
    }
    .productSlider {
        img.icon {
            width: 56px;
            height: 56px;
            object-fit: contain;
            margin-bottom: 15px;
            display: inline-block;
        }
        p {
            font-size: 20px;
            color: #033868;
            margin: 0;
        }
        button.slick-prev {
            font-size: 0;
            border: 0;
            background: url(../images/scrollArrow.svg) center no-repeat;
            width: 26px;
            height: 47px;
            top: 50%;
            transform: translateY(-50%) rotate(-180deg) ;
            position: absolute;
            left: -50px;
        }
        button.slick-next {
            font-size: 0;
            border: 0;
            background: url(../images/scrollArrow.svg) center no-repeat;
            width: 26px;
            height: 47px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            right: -50px;
        }
    }
    .greyBar {
        margin-top: 80px;
        width:100%;
        padding: 22px;
        background-color: #EFEFEF;
        color: #65666B;
        p {
            margin: 0;
        }
    }
}

.s5-home {
    background-size: cover !important;
    padding: 60px 0;
    text-align: center;
    p {
        color: white;
        font-size: 40px;
        margin: 0;
        font-weight: 700;
    }
    .blue-button {
        margin-top: 30px;
    }
}

.s6-home {
    padding: 60px 0;
    form {
        margin-top: 20px;
    }
    h2 {
        font-size: 24px;
        margin: 0;
        color: #033868;
        text-transform: uppercase;
        font-weight:700;
    }
    hr {
        width: 98px;
        height: 3px;
        background: #056FCE;
        margin: 8px 0;
    }
    p {
        margin: 0;
        font-size: 16px;
        color: #707070;
        padding-right: 60px;
    }
    label[for="email"] {
        width: 39%;
        padding: 0 20px 0 0;
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #D6CACA;
        }
        p {
            font-size: 14px;
            color: #65666B;
            margin-bottom: 5px;
        }
    }
    label[for="name"] {
        width: 39%;
        padding: 0 20px 0 0;
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #D6CACA;
        }
        p {
            font-size: 14px;
            color: #65666B;
            margin-bottom: 5px;
        }
    }
    input[type="submit"] {
        width: 20%;
        border:0;
        -webkit-appearance:none;
    }

}