.s1-products {
    border-top: 10px solid #056FCE;
    text-align: center;
    h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
    hr{
        margin: 15px auto;
    }
    p {
        color: #7C7C7C;
        font-size: 16px;
    }
    padding-top: 70px;
    padding-bottom: 83px;
}
.s2-products {
    div.col-md-4 {
        margin-bottom: 40px;
    }
    .finalTile {
        width: 360px;
        height: 320px;
        background-color: #033868;
        color: #EFEFEF;
        font-weight: 700;
        text-align: center;
        position: relative;
        .inside {
            position: absolute;
            width: 85%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        h1 {
            margin: 0;
            font-size: 25px;
        }
    }
    .greyBar {
        font-size: 20px;
        color: #959494;
        background-color: #EFEFEF;
        font-weight: 400;
    }
}