.s1-storeFixture {
    border-top: 10px solid #056FCE;
    text-align: center;
    h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
    hr{
        margin: 15px auto;
    }
    p {
        color: #7C7C7C;
        font-size: 16px;
    }
    padding-top: 70px;
    padding-bottom: 83px;
}

.s2-storeFixture {
    div.col-md-4 {
        margin-bottom: 40px;
    }
    .finalTile {
        width: 360px;
        height: 320px;
        background-color: #033868;
        color: #EFEFEF;
        font-weight: 700;
        text-align: center;
        position: relative;
        .inside {
            position: absolute;
            width: 85%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        h1 {
            margin: 0;
            font-size: 25px;
        }
    }
    .greyBar {
        font-size: 20px;
        color: #959494;
        background-color: #EFEFEF;
        font-weight: 400;
    }
}

.storeFixtureContainer {
    width: 100%;
    padding-bottom: 80%;
    background-color: #EFEFEF;
    position: relative;
    .inside {
        position: absolute;
        width: 100%;
        padding: 15px;
        bottom: 0;
        left: 0;
        h1 {
            font-size: 25px;
            color: #033868;
            font-weight: 700;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
            color: #65666B;
            margin: 0;
        }
        img {
            max-width: 365px;
            max-height: 210px;
            object-fit: contain;
            display:block;
            margin:0 auto;
        }
    }
}

.s3-storeFixture {
    padding-top: 25px;
    p.text {
        clear:both;
        padding:0 15px;
    }
    h1 {
        font-size: 24px;
        color: #033868;
        text-transform: uppercase;
        margin-left: 15px;
        font-weight:700;
    }
    hr {
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .container {
        padding: 0;
    }

    input, textarea, select {
        margin-top: 5px;
    }
    input[type=file] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        padding: 0 !important;
        border: 0 !important;
    }
    .fileInput {
        width: 190px !important;
        padding: 10px;
        border: 2px solid #056FCE;
        background-color: #FFFFFF;
        -webkit-appearance: none;
        border-radius: none;
        color: #056FCE;
        text-align: center !important;
        font-size: 16px;
        font-weight: 700 !important;
        cursor: pointer;
        transition:all 0.3s ease;
        &:hover {
            background-color: #056FCE;
            color: #fff;
        }
        input {
            border: 0;
            padding: 0;
        }
    }
    p {
        text-align: center;
        color: #87888D;
        font-size: 16px;
        label {
            font-weight: 400;
        }
    }
    textarea {
        height: 125px;
    }
    select {
        -webkit-appearance: none;
        background: url('../images/StoreFixtures/downArrow.svg') center right 15px no-repeat;
        background-size: 20px;
        border-radius: none;
        padding: 10px;
        border: 2px solid #EFEFEF;
        &:focus {
            border: 2px solid #A8A8A8;
        }
    }
    .noBR {
        br {
            display: none;
        }
    }
    .third {
        width: 33%;
        font-size: 14px;
        color: #87888D;
        float: left;
        padding: 0 15px;
        padding-bottom: 15px;

        span, input, label, select, textarea {
            width: 100%;
            font-weight: 400;
            text-align: left;
            font-size: 14px;
        }
        input, textarea {
            transition: all 0.3s ease;
            border: 2px solid #EFEFEF;
            padding: 10px;
            &:focus {
                border: 2px solid #A8A8A8;
            }
        }
    }
    .twoThird {
        width: 66%;
        font-size: 14px;
        color: #87888D;
        padding-left: 15px;
        float: left;
        padding-right: 15px;
        padding-bottom: 15px;
        span, textarea, label {
            width: 100%;
            font-weight: 400;
        }
        textarea {
            transition: all 0.3s ease;
            border: 2px solid #EFEFEF;
            padding: 10px;
            &:focus {
                border: 2px solid #A8A8A8;
            }
        }
    }
    input[type=submit].blue-button {
        width: 190px;
        text-align: center;
        border: 2px solid #056FCE;
    }
}