.s1-storeType {
    border-top: 10px solid #056FCE;
    text-align: center;
    h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
    hr{
        margin: 15px auto;
    }
    p {
        color: #7C7C7C;
        font-size: 16px;
    }
    padding-top: 70px;
    padding-bottom: 83px;
}

.s2-storeType {
    .finalTile {
        width: 360px;
        height: 320px;
        background-color: #033868;
        color: #EFEFEF;
        font-weight: 700;
        text-align: center;
        position: relative;
        .inside {
            position: absolute;
            width: 85%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        h1 {
            margin: 0;
            font-size: 25px;
        }
    }
}

.storeTypeContainer {
    width: 100%;
    background-color: #EFEFEF;
    position: relative;
    padding-bottom: 80%;
    text-align: center;
    .inside {
        width:80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        p {
            font-size: 25px;
            color: #033868;
            text-transform: uppercase;
            margin: 0;
            font-weight: 700;
        }
        img {
            width: 70px;
            height: 74px;
            margin-bottom: 15px;
            object-fit: contain;
        }
    }

}

.blueBar1 {
    color: #FFFFFF;
    font-size: 16px;
    background: url('../images/storeType/issaArrow.svg') center right 15px no-repeat #056FCE;
    padding: 5px 15px;
    background-size: 18px;
    p {
        margin: 0;
    }
}

.tile {
    margin-bottom: 30px;
}

.greyBar {
    background-color: #EFEFEF;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    margin-top: 60px;
    p {
        margin: 0;
        color: #65666B;
        font-size: 20px;
        text-align: center;
    }
}

.s1-single-type {
    background: #0055c6; /* Old browsers */
    background: -moz-linear-gradient(top, #0055c6 0%, #00306a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0055c6 0%,#00306a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0055c6 0%,#00306a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0055c6', endColorstr='#00306a',GradientType=0 ); /* IE6-9 */
    height: 494px;
    position:relative;
    div.text {

    }
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: #EFEFEF;
        margin:0;
    }
    img {
        height: 494px;
        width:100%;
        object-fit:contain;
    }
    div.blue-button {
        margin-top:15px;
    }
    div.row {
        position:relative;
        height:494px;
    }
    div.col-md-4 {
        position:absolute;
        top:50%;
        left:15px;
        transform:translateY(-50%);
    }
}

.s2-single-type {
    padding:60px 0;
    h1 {
        position: relative;
        color: #033868;
        font-size: 40px;
        text-transform: uppercase;
        margin: 0 0 35px;
        font-weight: 700;
        &:after {
            content: "";
            position: absolute;
            width: 98px;
            height: 3px;
            background: #056FCE;
            bottom: -15px;
            left:0;
        }
    }
    p, li {
        color:#7C7C7C;
    }
    div.grey-box {
        background:#EFEFEF;
        padding:30px;
        p {
            color:#65666B;
            font-size:14px;
            margin:0;
        }
    }
}