body {
	overflow-x:hidden;
	font-family: 'Roboto', sans-serif;
}

body, html {
	&.no-scroll {
		overflow:hidden;
	}
}

hr {
	width: 98px;
	height: 3px;
	background: #056FCE;
	margin: 6px 0;
	border:0;
}

input {
	-webkit-appearance: none;
}

header {
	padding-bottom: 20px;
	border-bottom:3px solid #fff;
	transition:all 0.5s ease;
	position:relative;
	z-index:9999;
	background:#fff;
	&.active {
		border-bottom:3px solid #056FCE;
	}
	img {
		width: 222px;
		margin-top: 25px;
	}
    nav {
        ul {
            float: right;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                text-decoration: none;
                font-size: 15px;
                color: #65666B;
                display: inline-block;
                padding-left: 15px;
                a{
					color: #65666B;
					&:hover {
						color: #056FCE;
					}
				}
            }
		}
	}
	.aboveNav {
		font-size: 14px;
		color: #033868;
		margin-bottom: 10px;
		.phone {
			background-color: #EFEFEF;
			padding: 10px;
			float: right;
			p {
				margin: 0;
			}
		}
		.espanol {
			padding: 10px;
			padding-right: 0;
			float: right;
			margin-left: 20px;
		}
	}
}

*:focus {
	outline: none !important;
}

a {
	text-decoration:none !important;
	color:#056FCE;
}

.clear {
	clear:both;
}

img {
	max-width:100%;
}

strong {
	font-weight: 700;
}

.blue-button {
	background: #056FCE;
	font-size: 16px;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	transition:all 0.3s ease;
	cursor:pointer;
	&:hover {
		background:darken(#056FCE, 5%)
	}
}

footer {
	.topFooter {
		background-color: #033868;
		color: #EFEFEF;
		font-size: 14px;
		padding: 30px;
		p{
			margin: 0;
			font-weight: 300;
		}	
		strong {
			margin: 0;
		}
		.17 {
			font-size: 17px;
		}
		a {
			color:#fff;
		}
	}
	.botFooter {
		background-color: #056FCE;
		color: #033868;
		font-size: 12px;
		padding: 6px;
		p {
			margin: 0;
		}
		a {
			color:#fff;
		}
	}
}