.mobile {
	display:none;
}
.mobile-menu {
	display:none;
}

/* 1200 */
/* --------------------------------------------------------------- */
@media only screen and (max-width : 1200px) {
	.s1-home h1 {
		font-size:40px;
	}
	.s3-home {
		padding:0;
	}
	.s3-home .inside h1 {
		font-size:30px;
	}
	.s3-home .left img {
		width:170px;
		top:15px;
	}
	.greyBar p,
	.s2-contact .blueBar p {
		font-size:18px;
	}
	.s5-home p {
		font-size:40px;
		line-height:1;
	}
	.s6-home p {
		padding-right:0;
	}
	.s1-about, .s1-contact {
		padding-bottom:45%;
		background-position:center;
	}
	.storeFixtureContainer .inside img {
		max-width:100%;
		max-height:145px;
	}
	.storeFixtureContainer .inside h1 {
		font-size:20px;
	}
	.s2-storeFixture .finalTile,
	.s2-products .finalTile,
	.s2-storeType .finalTile {
		width:100%;
		height:267.33px;
		h1 {
			font-size:20px;
		}
	}
	.s1-single-type img {
		height:inherit;
		width:100%;
	}
	.s1-single-type, .s1-single-type div.row {
		height:395px;
	}
}
/* --------------------------------------------------------------- */


/* 992 */
/* --------------------------------------------------------------- */
@media only screen and (max-width : 992px) {
	.mobile {
		display:block;
	}
	.no-mobile {
		display:none;
	}
	header div.espanol {
		float:right;
		margin-top:34px;
	}
	header div.menu-container div.hamburger {
		position:relative;
		width:35px;
		height:5px;
		background:#65666B;
		transition:all 0.5s ease;
	}
	header div.menu-container div.hamburger:before {
		content:"";
		position:absolute;
		top:-11px;
		height:5px;
		width:35px;
		background:#65666B;
		transition:all 0.5s ease;
	}
	header div.menu-container div.hamburger:after {
		content:"";
		position:absolute;
		bottom:-11px;
		height:5px;
		width:35px;
		background:#65666B;
		transition:all 0.5s ease;
	}
	header div.menu-container div.hambx {
		background:#fff;
	}
	header div.menu-container div.hambx:before {
		transform:rotate(45deg);
		top:0;
	}
	header div.menu-container div.hambx:after {
		transform:rotate(-45deg);
		bottom:0;
	}
	header div.mob-men {
		float:right;
		margin-top:40px;
		margin-left:25px;
	}
	div.mobile div.menu-container {
		position:relative;
	}
	div.hamover {
		position: absolute;
	    width: 100%;
	    height: 45px;
	    margin-top: -20px;
	    z-index:99999;
	    cursor:pointer;
	}
	header nav ul li {
		font-size:14px;
	}
	div.mobile-menu {
		display:none;
		position:fixed;
		height:100%;
		width:100%;
		left:0;
		top:0;
		padding-top:95px;
		padding-bottom:43px;
		background:#fff;
		text-align:center;
		z-index:999;
		ul {
			list-style:none;
			margin:0;
			padding:0;
			margin-top:15px;
			li {
				font-size:25px;
				font-weight:500;
				padding:5px;
				&.current_page_item {
					a {
						color:#056FCE;
					}
				}
				a {
					color:#65666B;
					&:hover {
						color:darken(#65666B, 10%);
					}
				}
			}
		}
		div.bottom {
			background:#EFEFEF;
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			padding:5px;
			text-align:center;
			p {
				color:#033868;
				font-size:14px;
				margin:0;
			}
		}
	}

	.s1-home img {
		height:390px;
		top:-125px;
		position:absolute;
		right:0;
	}
	.s3-home .left img {
		display:none;
	}
	.s4-home .productSlider p {
		font-size:18px;
	}
	.greyBar p,
	.s2-contact .blueBar p {
		font-size:16px;
	}
	.s3-home .inside {
		width:100%;
	}
	.s3-home .left,
	.s3-home .right {
		padding-bottom:45%;
	}
	.s3-home .inside h1 {
		margin-top:0;
	}
	footer .topFooter {
		padding:30px 0;
	}
	footer .botFooter {
		padding:6px 0;
	}
	.s2-about .right {
		padding:30px 15px;
	}
	.s2-about .left {
		padding-right:0;
	}
	.s2-about .right .logo {
		width:70%;
	}
	.s4-about h1 {
		font-size:32px;
	}
	.s2-storeFixture div.col-md-4,
	.s2-products div.col-md-4,
	.s2-storeType div.col-md-4 {
		width:50%;
		float:left;
	}
	.s1-single-type {
		padding:30px 0;
	}
	.s1-single-type div.col-md-4 {
		position:relative;
		top:inherit;
		left:inherit;
		transform:none;
	}
	.s1-single-type, .s1-single-type div.row {
		height:inherit;
	}
	.s2-single-type div.grey-box p {
		margin:0;
	}
	.s2-single-type div.grey-box {
		margin-top:30px;
	}
	.s2-contact {
		padding-top:30px;
	}
	.s2-contact .blueBar {
		margin-top:30px;
	}
	.s3-contact {
		padding:30px 0;
	}
	.s3-contact .visitUs,
	.s3-contact .hours {
		width:50%;
		float:left;
		height:100px;
	}
	.s3-contact .contactUs {
		width:100%;
		clear:both;
		margin-bottom:30px;
	}
	.s3-contact h3 {
		margin-top:0;
		font-size:18px;
	}
	.s3-contact p {
		font-size:14px;
	}
	.s3-contact .half {
		padding-left:0;
		&:nth-child(odd) {
			padding-left:15px;
		}
		&:nth-child(even) {
			padding-right:15px;
		}
	}
	.s3-contact .full {
		padding-left:0;
	}
	.s3-contact .blue-button {
		margin-left:0;
	}
}
/* --------------------------------------------------------------- */


/* 768 */
/* --------------------------------------------------------------- */
@media only screen and (max-width : 768px) {
	.s1-home h1 {
		padding:0;
	}
	.s1-home img {
		height:360px;
		top:-75px;
	}
	.s2-home h1,
	.s4-home h1,
	.s2-about h1,
	.s3-about h1,
	.s1-storeFixture h1,
	.s1-products h1,
	.s1-storeType h1,
	.s2-contact h1 {
		font-size:32px;
	}
	.s2-home {
		padding:70px 0;
	}
	.s3-home .left,
	.s3-home .right {
		width:100%;
		padding:30px;
		float:none;
		border:0;
		border-bottom:1px solid #fff;
	}
	.s3-home .inside {
		height:inherit;
		transform:none;
		top:inherit;
		left:inherit;
		position:relative;
	}
	.greyBar p, .s2-contact .blueBar p {
		font-size:14px;
	}
	.s4-home .productSlider p {
		font-size:16px;
	}
	.s5-home p {
		font-size:32px;
	}
	footer div.topFooter div.col-xs-3 {
		width:50%;
		margin-bottom:15px;
	}
	.s2-about .right {
		margin-top:30px;
	}
	.s2-about .right .logo {
		width:210px;
	}
	.s3-about .bottom {
		margin:-160px auto 70px;
	}
	.s3-about .bottom p {
		padding:15px;
		height:inherit;
	}
	.s3-storeFixture .third,
	.s3-storeFixture .twoThird {
		width:50%;
	}
	.s3-storeFixture p.text {
		margin-bottom:15px;
	}
	.s2-single-type {
		padding:30px 0;
	}
	.s2-single-type div.grey-box {
		padding:15px;
	}
}
/* --------------------------------------------------------------- */

/* 640 */
/* --------------------------------------------------------------- */
@media only screen and (max-width : 640px) {
	.s1-home h1 {
		font-size:36px;
		margin-top:0;
	}
	.s1-home img {
		float:right;
		position:relative;
		right:inherit;
		top:inherit;
		margin-top:-50px;
	}
	.s2-home {
		text-align:left;
		padding:100px 0 30px;
	}
	.s2-home h1 {
		white-space:nowrap;
	}
	.s2-home h1:after {
		left:0;
		transform:none;
	}
	.s1-home .blue-button {
		position:relative;
		z-index:1;
		margin-top:10px;
	}
	.s4-home .col-xs-10 {
		margin-left:0;
		width:100%;
	}
	.s4-home .productSlider button.slick-prev {
		left:0;
		z-index:10;
	}
	.s4-home .productSlider button.slick-next {
		right:0;
		z-index:10;
	}
	.s4-home .greyBar,
	.s2-contact .blueBar {
		margin-top:30px;
	}
	.s4-home {
		padding:30px 0 0;
	}
	.s2-home h1, .s4-home h1, .s2-contact h1 {
		font-size:30px;
	}
	.s3-home .inside p {
		padding:0;
	}
	.s6-home label[for=email],
	.s6-home label[for=name] {
		width:100%;
		padding:0;
		margin-bottom:15px;
	}
	.s6-home input[type=submit] {
		width:50%;
	}
	.s6-home {
		padding:30px 0;
	}
	.s2-storeFixture div.col-md-4,
	.s2-products div.col-md-4,
	.s2-storeType div.col-md-4 {
		width:100%;
		float:none;
	}
	.storeFixtureContainer {
		padding-bottom:0;
	}
	.storeFixtureContainer .inside img {
		width:300px;
		height:300px;
		max-width:none;
		max-height:none;
		object-fit:contain;
	}
	.storeFixtureContainer .inside {
		position:relative;
	}
	.s2-storeFixture .greyBar,
	.s2-products .greyBar,
	.s2-storeType .greyBar {
		margin-top:0px;
	}
	.s1-storeFixture,
	.s1-products,
	.s1-storeType {
		padding:30px 0;
	}
	.storeTypeContainer .inside p {
		font-size:20px;
	}
	.s3-contact .visitUs,
	.s3-contact .hours,
	.s3-contact .contactUs {
		width:100%;
		float:none;
		height:inherit;
		margin-bottom:15px;
	}
	.s2-contact p {
		padding:0;
	}
}
/* --------------------------------------------------------------- */


/* 500 */
/* --------------------------------------------------------------- */
@media only screen and (max-width : 500px) {
	.s1-about {
		padding-bottom:60%;
	}
	footer div.topFooter div.col-xs-3 {
		width:100%;
	}
	.s1-home h1,
	.s4-about h1,
	.s1-storeFixture h1,
	.s1-products h1,
	.s1-storeType h1 {
		font-size:30px;
	}
	.s1-home img {
		margin-top:10px;
	}
	.s2-home h1, 
	.s4-home h1,
	.s2-about h1,
	.s3-about h1,
	.s2-contact h1 {
		font-size:24px;
	}
	.s5-home p {
		font-size:20px;
	}
	header img {
		width:130px;
		max-width:130px;
	}
	header div.mob-men {
		margin-top:35px;
	}
	header div.espanol {
		margin-top:28px;
		p {
			margin-bottom:0;
		}
	}
	.s3-about .historySlider button.slick-prev {
		z-index:1;
		left:0;
	}
	.s3-about .historySlider button.slick-next {
		z-index:2;
		right:0;
	}
	.s4-about {
		padding:120px 0;
	}
	.s3-storeFixture .third,
	.s3-storeFixture .twoThird {
		width:100%;
	}
}
/* --------------------------------------------------------------- */


/* 400 */
/* --------------------------------------------------------------- */
@media only screen and (max-width : 400px) {
	.s1-home img {
		width:100%;
		height:inherit;
	}
	.s3-contact .half {
		width:100%;
		padding-left:0 !important;
		padding-right:0 !important;
	}
}
/* --------------------------------------------------------------- */